# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
credentials.json
token.pickle

# Virtual Environment
venv/
ENV/
.venv/

# IDE
.idea/
.vscode/

# Chrome Driver
chromedriver.exe
*.log

# Downloaded videos
*.mp4
*.crdownload
*.tmp
